.about__cont {
    background-color: var(--light_bg);
    color: var(--black);
    font-family: var(--kor_font);
}
.about__inner article:nth-child(1) {
    img {
        margin-top: 200px;
    }
    p:nth-child(1) {
        margin-top: 62px;
    }
    p:nth-child(2) {}
}



.about__item {}