  @font-face {
    font-family: "Fredoka";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Fredoka-Light.ttf) format("ttf");
  }
  @font-face {
    font-family: "Fredoka";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Fredoka-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: "Fredoka";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Fredoka-Medium.ttf) format("ttf");
  }
  @font-face {
    font-family: "Fredoka";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Fredoka-SemiBold.ttf) format("ttf");
  }
  @font-face {
    font-family: "Fredoka";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Fredoka-Bold.ttf) format("ttf");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/NotoSansKR-Thin.otf) format("otf");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/NotoSansKR-Light.otf) format("otf");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/NotoSansKR-Regular.otf) format("otf");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/NotoSansKR-Medium.otf) format("otf");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/NotoSansKR-Bold.otf) format("otf");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/NotoSansKR-Black.otf) format("otf");
  }